page-auth {
    .scanner-button{
        height: 100px;
    }

    .scanner-icon{
        font-size: 100px;
    }
    
    .icon-container{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .error{
        font-size: 12px;
        color: #f00;
        position: absolute;
        bottom: 30px;
        left: 20px;
        right: 20px;
        text-align: center;
    }
}
