<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="home-content">
    <div *ngIf="!image.length"></div>
    <ion-card *ngIf="image.length" class="preview-card">
      <img [src]="image"/>
      <div class="buttons">
        <button ion-button color="danger" (click)="clearPhoto()">Delete</button>
        <button ion-button (click)="savePhoto()">Confirm</button>
      </div>
    </ion-card>
    <div class="button-container">
      <button ion-button block (click)="showActions()" *ngIf="!image.length">Add a picture</button>
    </div>   
  </div> 
</ion-content>
